.leaderboard-container {
	float: left;
	text-align: center;
}

#top-container .leaderboard-container {
	width: 33%;
}

#bottom-container .leaderboard-container {
	width: 50%;
}

.leaderboard {
	height: 200px;
	overflow-y: scroll;
}

.leaderboard a {
	color: black;
	text-decoration: none;
}

#top-container {
	height: 50%;
}

#bottom-container {
	height: 50%;
}