{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaderboards.css') }}">
{% endblock %}

{% block content %}
<div id="top-container">
	<div class="leaderboard-container">
		<h1>Defence</h1>
		<ol class="leaderboard">
			{% for team_number in leaderboards['defence'] %}
			<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
			{% endfor %}
		</ol>
	</div>

	<div class="leaderboard-container">
		<h1>Cargo</h1>
		<ol class="leaderboard">
			{% for team_number in leaderboards['cargo'] %}
			<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
			{% endfor %}
		</ol>
	</div>

	<div class="leaderboard-container">
		<h1>Hatch</h1>
		<ol class="leaderboard">
			{% for team_number in leaderboards['hatch'] %}
			<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
			{% endfor %}
		</ol>
	</div>
</div>
<div id="bottom-container">
	<div class="leaderboard-container">
		<h1>Our Top Picks</h1>
		<ol class="leaderboard">
			
		</ol>
	</div>
	<div class="leaderboard-container">
		<h1>Official Rankings</h1>
		<ol class="leaderboard">
			{% for team_number in leaderboards['rankings'] %}
			<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
			{% endfor %}
		</ol>
	</div>
</div>
{% endblock %}