{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaderboards.css') }}">
{% endblock %}

{% block content %}
<div class="leaderboard-container">
	<h1>Defence</h1>
	<ol class="leaderboard">
		{% for team_number in leaderboards['defence'] %}
		<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
		{% endfor %}
	</ol>
</div>

<div class="leaderboard-container">
	<h1>Cargo</h1>
	<ol class="leaderboard">
		{% for team_number in leaderboards['cargo'] %}
		<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
		{% endfor %}
	</ol>
</div>

<div class="leaderboard-container">
	<h1>Hatch</h1>
	<ol class="leaderboard">
		{% for team_number in leaderboards['hatch'] %}
		<a href="{{ url_for('team', team_number=team_number) }}"><li>{{ team_number }}</li></a>
		{% endfor %}
	</ol>
</div>
{% endblock %}